@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400|Work+Sans:700');

#text,
#content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  color: white;
  position: absolute;
  top: 50%;
  font-family: Graphik-Semibold, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  padding: 0 36px;
  margin-top: -24px;
  outline: none;
}

div.speaker {
  color: white;
  position: absolute;
  min-width: 300px;
  bottom: 0;
  left: 0;
  padding: 15px;
  margin: 0 36px;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  line-height: 15px;
  border-top: 1px solid white;
}

p {
  outline: none;
}

#f8-solo {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}